- name: Setup PROD EC2 (Runtime Only)
  hosts: prod
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Add banking user to docker group
      user:
        name: banking
        groups: docker
        append: yes
